APP_NAME=marketgrid

GHCR_NAMESPACE=your-github-username
BACKEND_IMAGE=ecommerce-backend
FRONTEND_IMAGE=ecommerce-frontend
IMAGE_TAG=latest

POSTGRES_USER=ecuser
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=ecommerce

MONGO_DB=ecommerce_logs
JWT_SECRET=change-this-jwt-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
LOW_STOCK_THRESHOLD_DEFAULT=10

CORS_ORIGINS=https://your-domain-or-vm-ip
FRONTEND_PORT=80
